# ASSIGNMENT NO 2

Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

In [5]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [6]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [7]:
driver.get(url)

In [8]:
job_title=[]
company_name=[]
location_list=[]
experience_required=[]

In [9]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="40c18aae-0858-4123-bc7b-4f610f0e96d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="8a38b019-3149-451d-ade1-5b8bc0aa8359")>,
 <selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="c1b737c0-ae08-4300-ad1a-aea40f4329ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="16805cc3-d6a7-4aea-9ca4-2fea691f229d")>]

In [10]:
for i in title_tags:
    title=i.text
    job_title.append(title)
    
job_title[0:4]

['Azure Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst']

In [11]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="c6c565a2-7c0f-44f4-8caf-9681757cbdd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="f6e685dc-9c12-4de8-9d16-57f690443b20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="2c73b461-5821-4781-a9ab-3b10ab4d625d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="149d43ae-0bfc-4fc7-9012-8f376b078595")>]

In [12]:
for i in company_tags:
    company=i.text
    company_name.append(company)

company_name[0:4]

['Capgemini Technology Services India Limited',
 'RedLock, Inc',
 'Super India Tech Mark',
 'tech mahindra ltd']

In [13]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="4c01f64a-e0d1-4ff4-8bed-f201b4fd2881")>,
 <selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="0ff88471-deb2-4ad5-9e19-9dba46a8be9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="29df99aa-564f-4873-9cde-d717abd5f38e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="638855a7-20b5-4406-85bd-bc4c42564eaa")>]

In [14]:
for i in location_tags:
    location=i.text
    location_list.append(location)
    
location_list[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru']

In [15]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="651fc3a0-f830-4b92-a7fe-7e3ff54cf617")>,
 <selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="6c66c9a0-0e12-4861-9084-79ba8f6fddfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="f753a6d5-ce79-4799-a7a5-3a9e979a82b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="50eb4c4cb337cb4756e4a0a566985949", element="bb8cdc5d-2c44-4c9d-82fe-e708f438f460")>]

In [16]:
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
    
experience_required[0:4]

['6-8 Yrs', '0-0 Yrs', '0-2 Yrs', '4-8 Yrs']

In [17]:
print(len(job_title),len(company_name),len(location_list),len(experience_required))

20 20 20 20

In [18]:
jobs=pd.DataFrame({})
jobs['Job_Title']=job_title[:10]
jobs['Company_Name']=company_name[:10]
jobs['Location_List']=location_list[:10]
jobs['Experience_Required']=experience_required[:10]

In [19]:
jobs

,Job_Title,Company_Name,Location_List,Experience_Required
0,Azure Data Analyst,Capgemini Technology Services India Limited,Bangalore/Bengaluru,6-8 Yrs
1,Data Analyst,"RedLock, Inc",Bangalore/Bengaluru,0-0 Yrs
2,Data Analyst,Super India Tech Mark,Bangalore/Bengaluru(Devalapur),0-2 Yrs
3,Data Analyst,tech mahindra ltd,Bangalore/Bengaluru,4-8 Yrs
4,Data Analyst,CONDUENT BUSINESS SERVICES INDIA LLP,Bangalore/Bengaluru,1-2 Yrs
5,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,2-7 Yrs
6,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
7,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs
8,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-8 Yrs
9,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [20]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [21]:
driver.get("https://www.naukri.com/")

In [22]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [23]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [24]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [25]:
driver.get(url)

In [26]:
job_titles=[]
company_name=[]
location_list=[]
full_job_description=[]

In [27]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="3ba152a0ca15a7e8e7a8649995636f78", element="3b819a39-0e4c-4dc6-b73d-5f0f3efaf454")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ba152a0ca15a7e8e7a8649995636f78", element="6a688e1e-da7b-46a7-99b0-7cbc20574ecc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ba152a0ca15a7e8e7a8649995636f78", element="0f9ca559-c31a-45cf-8c5a-aa8bcd3b5148")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ba152a0ca15a7e8e7a8649995636f78", element="c98bdc1c-f398-49e2-aa3f-b99fe9d14dc8")>]

In [28]:
for i in title_tags:
    title=i.text
    job_titles.append(title)
    
job_titles[0:4]

['Data Scientist',
 'Opportunity For Data Scientist Internship - Bengaluru',
 'Data Scientist - Machine Learning',
 'Data Scientist || Data Analyst || Data science']

In [29]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="3ba152a0ca15a7e8e7a8649995636f78", element="0056e610-3b10-4b97-8cda-767a70c97f0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ba152a0ca15a7e8e7a8649995636f78", element="2063a914-e502-4547-8754-5a68b3148348")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ba152a0ca15a7e8e7a8649995636f78", element="9b8d1519-ff88-475d-9ad4-9715793abc51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ba152a0ca15a7e8e7a8649995636f78", element="38a25532-9787-4b3a-99b1-4d2f52f8e55e")>]

In [30]:
for i in companies_tags:
    company=i.text
    company_name.append(company)
    
company_name[0:4]

['CronJ IT Technologies Private Limited',
 'Corner Stone Solutions',
 'AugmatrixGo',
 'Inspiration Manpower Consultancy Pvt. Ltd.']

In [31]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="3ba152a0ca15a7e8e7a8649995636f78", element="98011cdc-40f6-4ae2-a937-49aa180511c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ba152a0ca15a7e8e7a8649995636f78", element="71a41581-a556-4310-ad70-66f00f118699")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ba152a0ca15a7e8e7a8649995636f78", element="1eef9e8f-7ed0-4814-a9c3-b5325ca4755e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ba152a0ca15a7e8e7a8649995636f78", element="c1071a05-67cc-4458-942a-b207e57b0c8e")>]

In [32]:
for i in location_tags:
    location=i.text
    location_list.append(location)
    
location_list[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Navi Mumbai, Bangalore/Bengaluru']

In [33]:
href1=[]

for elem in title_tags:
    href = elem.get_attribute('href')
    if href is not None:
        href1.append(href)

In [34]:
href2=href1[0:10]
href2

['https://www.naukri.com/job-listings-data-scientist-cronj-it-technologies-private-limited-bangalore-bengaluru-0-to-1-years-310321002339?src=jobsearchDesk&sid=16178574285056767&xp=1&px=1',
 'https://www.naukri.com/job-listings-opportunity-for-data-scientist-internship-bengaluru-corner-stone-solutions-bangalore-bengaluru-0-to-1-years-240620007489?src=jobsearchDesk&sid=16178574285056767&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-augmatrixgo-bangalore-bengaluru-2-to-5-years-140121905423?src=jobsearchDesk&sid=16178574285056767&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-data-analyst-data-science-inspiration-manpower-consultancy-pvt-ltd-navi-mumbai-bangalore-bengaluru-6-to-11-years-250321005167?src=jobsearchDesk&sid=16178574285056767&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-5-to-8-years-060421902058?src=jobsearchDesk&sid=16178574285056767&xp=5&px=1',
 'https://www.naukri.com/job-listings-gamma-lead-data-scientist-boston-consulting-group-mumbai-new-delhi-chennai-bangalore-bengaluru-7-to-12-years-070421500217?src=jobsearchDesk&sid=16178574285056767&xp=6&px=1',
 'https://www.naukri.com/job-listings-dbcg-ind-gamma-senior-data-scientist-boston-consulting-group-mumbai-new-delhi-chennai-bangalore-bengaluru-6-to-10-years-020421500121?src=jobsearchDesk&sid=16178574285056767&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-senior-data-scientist-ganit-business-solutions-private-limited-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-mumbai-all-areas-4-to-8-years-290321001979?src=jobsearchDesk&sid=16178574285056767&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ces-it-ltd-cmmi-level-5-ces-ltd-kolkata-mumbai-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-delhi-ncr-2-to-7-years-151220006902?src=jobsearchDesk&sid=16178574285056767&xp=9&px=1',
 'https://www.naukri.com/job-listings-global-medical-data-scientist-glaxosmithkline-pharmaceuticals-limited-bangalore-bengaluru-5-to-10-years-240321907599?src=jobsearchDesk&sid=16178574285056767&xp=10&px=1']

In [35]:
for i in href2:
    driver.get(i)
    job3=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
    for j in job3:
        dis=j.text.replace('\n', '')
    if dis==np.nan:
        dis.fillna(method='ffill')
    else:
        full_job_description.append(dis)

In [36]:
full_job_description

['Responsibilities and DutiesCreate innovative solutions using data across sales, health care and related fields for building object detection models, classification models, recommendation engine, sentiment analysis etc.Familiarity with deep learning algorithms and frameworks like TensorFlow, Pytorch, Keras.Good to go with NLP and NLTKDay-to-day responsibilities include use, customize and create algorithms/models for specific tasks in data science.Get exposed to and work on cutting-edge products based on ML and AI to create innovative industry solutions.Work on real-life projects involving Computer Vision, NLP and other AI techniques,Using innovative ideas to collect, curate or synthesize data.Model the problem into an ML/DL framework.Deploy models to real time staging servers.Flexibility in working independently and do needful research whenever required.Required Experience, Skills and QualificationsKnowledge of PythonKnowledge in libraries like OpenCV, Scikit Learn, NumPy etc.ScriptingUnderstanding of different frameworks like Pytorch, TensorFlow, Keras etc.Knowledge on NLPGood Knowledge on OOP and programing in python adapting to requirementUnderstanding of AWS.Understanding of any annotation tool.Ability to write robust and testable code.Strong knowledge in computer science fundamentals, algorithms, mathematics, linear algebra, probability and statistics.Strong communication skills.An analytical mind with problem-solving abilities.Degree in Computer Science, Mathematics, Computational Linguistics or similar field.',
 'Location - Bangalore / BengaluruDuration- 6 MonthsResponsibilities and DutiesCreate innovative solutions using data across sales, health care and related fields for building object detection models, chatbots, classification models etc.Familiarity with deep learning algorithms and frameworks like Pytorch, Keras, TensorFlow.Good to go with NLP and NLTKDay-to-day responsibilities include use, customize and create algorithms for specific tasks in data science.Get exposed to and work on cutting-edge products based on ML and AI to create innovative industry solutions..Work on real-life projects involving Computer Vision, NLP and other AI techniques,Using innovative ideas to collect, curate or synthesize data.Model the problem into an ML/DL framework.Deploy models to real time staging servers.Flexibility in working independently and do needful research whenever required.Required Experience, Skills and QualificationsKnowledge of PythonKnowledge in libraries like OpenCV, Scikit Learn, NumPy etc.Understanding of different frameworks like Pytorch, TensorFlow, Keras etc.Knowledge on NLPGood Knowledge on OOP and programing in python adapting to requirementUnderstanding of awsUnderstanding of any annotation toolAbility to write robust and testable code.Strong knowledge in computer science fundamentals, algorithms, mathematics, linear algebra, probability and statistics.Strong communication skills.An analytical mind with problem-solving abilities.Degree in Computer Science, Mathematics, Computational Linguistics or similar field.Qualification:Looking for IIT, IIIT IISc, NIT, BIT & Equivalent colleges (Preferred)',
 'Roles and Responsibilities- Selecting features, building and optimizing classifiers using machine learning techniques- Data mining using state-of-the-art methods- Enhancing data collection procedures to include information that is relevant for building analytic systems- Processing, cleansing, and verifying the integrity of data used for analysis- Doing ad-hoc analysis and presenting results in a clear manner- Creating automated anomaly detection systems and constant tracking of its performanceSkills Required :- Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.- Experiences with one or more of the following is highly desirable: HPC/Parallelization, operationalizing ML models; cloud computing (e.g. Google Cloud, AWS, etc.); familiarity with ML frameworks such as Tensorflow, Theano, MXNet, etc- Good experience in a few of the following areas: deep neural networks, reinforcement learning, Markov Random Fields, Bayesian networks, semi-supervised learning, computer vision, image processing, signal processing, distributed computing, and/or numerical optimization- 2+ years of experience with computer vision and deep learning solutions, including image classification, object detection, segmentation, and equivalent computer vision-based vision tasks- Experience with common data science toolkits, such as R, Weka, NumPy, etc . Excellence in at least one of these is highly desirable- Proficiency in using query languages such as SQL, Hive, Pig- Good applied statistics skills, such as distributions, statistical testing, regression, etc.- Good scripting and programming skills- Data-oriented personality- B.Tech/M.Tech degree in from reputed institutes like IIT / NIT / BITS',
 'Job descriptionJob Summary and Key ResponsibilitiesManage, architect, and analyze big data to build data driven business insights and high impact data models to generate significant business value. Create models and processes to collect, distill and interpret data with a view to aid better, more informed decision making. Examine and explore data from multiple disparate sources with the goal of discovering insights which in turn can provide competitive advantage for our stakeholders.The role involves but not limited to the following:Create insights from predictive statistical modeling, mathematical knowledge, tools, and techniques to solve complex problems and deliver valueCollaborate with Accenture teams to address business issues and influence change using strategy, industry, and analytical skillsDeliver large-scale programs that integrate processes with technology to help clients achieve high performanceMining and EDA of large datasets to assist in developing analytics solutionIndividual contributor and/or oversees a small work effortWork with minimal supervision on daily tasks and moderate level of instruction on new assignmentsKey SkillsMust HaveAnalytical skillsKnowledge of statistical techniques and machine learning algorithmsKnowledge of analysis tools like R, PythonAdvanced Excel, PowerPoint skillsAdvanced communication (written and oral) and strong interpersonal skillsAbility to work cross-culturallyGood to haveKnowledge on Google Cloud PlatformHuman Resources experienceAdditional Accenture HR systems experienceUnderstanding of Text analysis, VBA, Java, Python, .Net and visualization tools like Qliksense, Qlikview, Tableau will be an added advantageInterested CandidatesPlease Contact: Geethanjali9900044693hr1@inspirationmanpower.co.in',
 'Job descriptionJob Summary and Key ResponsibilitiesManage, architect, and analyze big data to build data driven business insights and high impact data models to generate significant business value. Create models and processes to collect, distill and interpret data with a view to aid better, more informed decision making. Examine and explore data from multiple disparate sources with the goal of discovering insights which in turn can provide competitive advantage for our stakeholders.The role involves but not limited to the following:Create insights from predictive statistical modeling, mathematical knowledge, tools, and techniques to solve complex problems and deliver valueCollaborate with Accenture teams to address business issues and influence change using strategy, industry, and analytical skillsDeliver large-scale programs that integrate processes with technology to help clients achieve high performanceMining and EDA of large datasets to assist in developing analytics solutionIndividual contributor and/or oversees a small work effortWork with minimal supervision on daily tasks and moderate level of instruction on new assignmentsKey SkillsMust HaveAnalytical skillsKnowledge of statistical techniques and machine learning algorithmsKnowledge of analysis tools like R, PythonAdvanced Excel, PowerPoint skillsAdvanced communication (written and oral) and strong interpersonal skillsAbility to work cross-culturallyGood to haveKnowledge on Google Cloud PlatformHuman Resources experienceAdditional Accenture HR systems experienceUnderstanding of Text analysis, VBA, Java, Python, .Net and visualization tools like Qliksense, Qlikview, Tableau will be an added advantageInterested CandidatesPlease Contact: Geethanjali9900044693hr1@inspirationmanpower.co.in',
 '  Practice Area ProfileBCG GAMMA combines innovative skills in computer science, artificial intelligence, statistics, and machine learning with deep industry expertise. The BCG GAMMA team is comprised of world-class data scientists and business consultants who specialize in the use of advanced analytics to get breakthrough business results. Our teams own the full analytics value-chain end to end: framing new business challenges, building fact-bases, designing innovative algorithms, creating scale through designing tools and apps, and training colleagues and clients in new solutions. Here at BCG GAMMA, you ll have the chance to work with clients in every BCG region and every industry area. We are also a core member of a rapidly growing analytics enterprise at BCG - a constellation of teams focused on driving practical results for BCG clients by applying leading edge analytics approaches, data, and technology.What Youll DoWe are seeking a strong candidate with advanced analytics experience to fill an exciting Lead Data Scientist (LDS) position within BCG Gamma. The LDS is a valuable expert in Data Science and Analytics and will design and build analytics methodologies, solutions, and products to deliver value to BCGs clients in collaboration with case teams. Exceptional candidates will also show an analytical curiosity, going beyond the immediate requirements of the project to find deep insights that others have missed. They will ask questions about outliers, seek to understand the fundamental drivers of advantage and look for clues that may change the basis of competition.The LDS will be involved in all aspects of advanced analytics, from helping to create relevant products and service offerings by working with priority global Practice Areas, to leading and executing analytics work and continuing to expand the analytical foundation and competitive value proposition. The LDS will collaborate directly client and wider BCG case teams and will manage the analytics components of client deliverables. The LDS is responsible for clarifying initial objectives, setting up analytics work plan and methodology, organizing the data scientist members of the team, quality assurance, and managing scope and work planning throughout the project.The LDS is expected to provide mentoring, coaching, and career development to (senior) analytics associate and data scientist team members on both a formal and informal basis.As the field of advanced analytics is rapidly evolving, the LDS is responsible for staying current on leading-edge business applications, tools and approaches, proactively working with the AnalyticsLeadership to enhance offerings that deliver competitive advantage to BCG.KEY COMPETENCIES:Deep Technical and Data Science Expertise : The successful candidate will have a wealth of experience with applying advanced analytics to a variety of business situations, such that they can efficiently and effectively advise multiple teams on the best path to uncovering critical insights for clients.Experience in core analytics methods (one or more of the following): Statistics (t-tests, ANOVA), variable reduction (FA, PCA), Segmentation/clustering techniques , Geographic cluster recognition and manipulation techniques, Predictive modeling: e.g. logistic regression, linear regression, Network analysis (location-allocation, travelling sales person, vehicle routing problem), Time series analysis: e.g. ARIMA, VAR, etc., Machine learning: e.g. LCA, Random Forest, neural networks, Spatio-temporal analysis, Time series analysis (ARIMA, VAR, etc.), Text mining unstructured data analytics, Simulation: e.g. MC, dynamic, discrete event, Optimization: e.g. linear programming, heuristicFamiliarity with a broad base of analytics tools (one or more of the following): Data management: e.g. Excel, SQL, PostGRESql, Hadoop/Hive, Alteryx, Analytics platforms: e.g. SAS, R, RapidMiner, SPSS, Data visualization: e.g. Tableau, GIS toolkits (ESRI, Quantum GIS, MapInfo or similar), ESRI Network Analyst, RouteSmart, RoadNet or similar, GPS data analysis a plus, Programming and/or scripting experience: e.g. Python, C#, VBA, Java, Perl, etc.Experience in applied analytics for business problem solving : Eg. Extensive experience building analytical solutions for (one or more of the following), Pricing and promotional effectiveness, Delivery fleet consolidation, Loyalty program effectiveness, Network real estate reorganization, Customer segmentation and targeting, Delivery footprint/territory expansion (or reduction), Customer LTV maximization, Cost modeling of transportation logistics operations, Churn prevention, Strong project management skills, Others a plusAnalytical and Conceptual thinking: A successful candidate will be able to conceptualize business problems and drive frameworks. The LDS will produce leading edge business models and must be able to work in a hypothesis-based environment where inductive rather than deductive thinking is the norm.Engagement Management and Work with Case Teams: The successful candidate will have demonstrated ability to manage engagements, client relationships, provide thought leadership to teams and able to act as a full member of a BCG project team. They must own analytical modules from work planning to creating impact. He/she must scope, manage and lead work for data science teams, providing expertise on methodology of advanced analytics. Strong presence, strong collaborator and leadership skills and ability to operate effectively in a matrix organization are a must.Client Relationship Management: The candidate with have a demonstrated ability to communicate effectively and professionally with clients, delivering impactful solutions and presenting work in a concise and thoughtful manner, while demonstrating technical expertise (fluency in English is required). Strong business focus with experience with 80/20 approaches.Analytics Innovation: Must be an autonomous self starter with a passion for analytics and problem solving. He/she will help build new Analytics service offerings that grow our portfolio of products and will captures proprietary content as well as analytics insights to the knowledge infrastructure. The candidate will support the creation of proposal/selling documents and provide perspective on relevant Analytics value propositions.Personnel Development: The successful candidate will have demonstrated ability to guide junior data scientists in their consulting skill sets, motivate them, and build the company s foundation for future growth. This will take place in both formal and ad-hoc settings.7 years of relevant industry work experience in a field linked to business analytics, statistics or geo- statistics, operations research, geography, applied mathematics, computer science, engineering, or related field Looking for individuals with deep technical and data science expertise, acute strategic and analytical skills, ability to lead and persuade, drive and energy, and desire to work in a project based environment on strategic issues. Strong record of professional accomplishment and leadership. Demonstrated ability to lead and manage projects and teams.',
 '    What Youll DoWe re looking for a passionate and talented Senior Data Scientist to join our rapidly growing team.In this role, you ll have the chance to roll up your sleeves and apply data science methods and analytics to real-world business situations across a variety of industries.As the field of advanced analytics is rapidly evolving, the SDS is responsible for staying current on leading-edge business applications, tools and approaches, proactively working with the Analytics Leadership to enhance offerings thatdeliver competitive advantage to BCG.Successful candidates are intellectually curious builders who are biased toward action, scrappy, and communicative.You will also get the chance to travel: we have clients across the globe Make sure your passport is ready to go! WHO YOU ARE. YOU:Have deep technical and Data Science expertise: The successful candidate will have a wealth of experience with applying advanced analytics to a variety of business situations, such that they can efficiently and effectively advise multiple teams on the best path to uncovering critical insights for clients.Are an autonomous self-starter with a passion for analytics and problem solving. You will help build new Analytics service offerings that grow our portfolio of products and will captures proprietary content, and support the creation of proposal/selling documents.Are comfortable managing engagements, client relationships, and acting as a thought Leader. Strong presence, strong collaborator and leadership skills and ability to operate effectively in a matrix organization are a must.Love building things and are comfortable working with modern development tools and writing code collaboratively (bonus points if you have a software development or DevOps experience)Have significant experience applying advanced analytics to a variety of business situations and a proven ability to synthesize complex data; as well as a deep understanding of modern machine learning techniques and their mathematical underpinnings, and are able to translate this into business implications for our clientsHave strong project management skillsMaster s Degree with significant relevant experience providing advanced analytics solutions, or relevant PhD in computer science, applied mathematics, statistics, machine learning, or a related data centric field.Demonstrated deep technical and data science expertise, acute strategic and analytical skills, ability to lead and persuade, drive and energy, and desire to work in a project based environment on strategic issues.Strong record of professional accomplishment and leadership.Fluency in at least one scripting language (e.g. Python, R)Fluency in English and local office language are requiredFast-paced, intellectually intense, service-oriented environmentPosition is located in either Chennai, Mumbai, Delhi-NCR or BengaluruExpect up to 60-80% of time spent traveling',

In [37]:
print(len(job_title),len(company_name),len(location_list),len(full_job_description))

20 20 20 10

In [38]:
jobs2=pd.DataFrame({})
jobs2['Job_Titles']=job_titles[:10]
jobs2['Company_Names']=company_name[:10]
jobs2['Location_List']=location_list[:10]
jobs2['Full_Job_Description']=full_job_description

In [39]:
jobs2

,Job_Titles,Company_Names,Location_List,Full_Job_Description
0,Data Scientist,CronJ IT Technologies Private Limited,Bangalore/Bengaluru,Responsibilities and DutiesCreate innovative s...
1,Opportunity For Data Scientist Internship - Be...,Corner Stone Solutions,Bangalore/Bengaluru,Location - Bangalore / BengaluruDuration- 6 Mo...
2,Data Scientist - Machine Learning,AugmatrixGo,Bangalore/Bengaluru,Roles and Responsibilities- Selecting features...
3,Data Scientist || Data Analyst || Data science,Inspiration Manpower Consultancy Pvt. Ltd.,"Navi Mumbai, Bangalore/Bengaluru",Job descriptionJob Summary and Key Responsibil...
4,Data Scientist - IBM Garage,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Job descriptionJob Summary and Key Responsibil...
5,GAMMA Lead Data Scientist,Boston Consulting Group,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Practice Area ProfileBCG GAMMA combines inno...
6,DBCG IND - GAMMA Senior Data Scientist,Boston Consulting Group,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",What Youll DoWe re looking for a passionat...
7,Data Scientist/Senior Data Scientist,GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",About Ganit IncFounded by senior industry expe...
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Roles and ResponsibilitiesMust have strong Pyt...
9,Global Medical Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,Roles and ResponsibilitiesMust have strong Pyt...

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [40]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [41]:
driver.get("https://www.naukri.com/")

In [42]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

In [43]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [44]:
job_location=driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']/i")
job_location.click()

In [45]:
salary=driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
salary.click()

In [46]:
job_titles=[]
company_name=[]
location_list=[]
experience_required=[]

In [48]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="215fe450-13e9-4675-8335-9a7370d2d32d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="2f7265df-4b70-404b-bbe9-5b451664f812")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="ba7b1310-b88a-450d-ad83-3e152e866b78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="77d62e2a-7937-4a3f-ab64-0cd3b878f5de")>]

In [49]:
for i in title_tags:
    title=i.text
    job_titles.append(title)
    
job_titles[0:4]

['Data Scientist - IBM Garage',
 'Data Scientist/Data Analyst - Python/Machine Learning',
 'Females Required- Data Scientist- Noida',
 'Data Scientist - Python & Machine Learning']

In [50]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="32c7f2d3-dfa4-4388-b7d3-a57e40aacfb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="27d1b5f8-3b60-44c2-8f29-fb7f35cef231")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="aebaf70d-31e6-4db1-8597-49917cbd38f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="9d8e5a01-9bc6-4e7a-bf5b-81e7797a5acf")>]

In [51]:
for i in companies_tags:
    company=i.text
    company_name.append(company)
    
company_name[0:4]

['IBM India Pvt. Limited', 'Change leaders', 'Randstad', 'FUTURES AND CAREERS']

In [52]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="2caf5444-bc39-403f-956c-c4641ac9f810")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="1933ef57-92d0-4b15-bfb3-102fa6f7ea36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="deb9a167-8643-4411-8922-5ed6ef463704")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="90552bed-ed4c-422c-8901-b71f31155bf7")>]

In [53]:
for i in location_tags:
    location=i.text
    location_list.append(location)
    
location_list[0:4]

['Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Mumbai, Ghaziabad',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [54]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="bcd1868b-98f8-47f4-a341-a46ccadb2010")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="c12886ba-3f0e-4e5b-8e59-b74081a0ad0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="ca1719b3-6611-4750-a979-7f8e4b2beac4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12e34d240db0f7a2a4eb5fec8e517088", element="b33508ef-8b2a-4f12-9d60-d5ed06e227aa")>]

In [55]:
for i in experience_tags:
    experi=i.text
    experience_required.append(experi)
    
experience_required[0:4]

['5-8 Yrs', '5-10 Yrs', '3-7 Yrs', '2-7 Yrs']

In [56]:
print(len(job_titles),len(company_name),len(location_list),len(experience_required))

20 20 20 20

In [57]:
jobs3=pd.DataFrame({})
jobs3['Jobs Titles']=job_titles[:10]
jobs3['Company Name']=company_name[:10]
jobs3['Location List']=location_list[:10]
jobs3['Experience Required']=experience_required[:10]

In [58]:
jobs3

,Jobs Titles,Company Name,Location List,Experience Required
0,Data Scientist - IBM Garage,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",5-8 Yrs
1,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,"Mumbai, Ghaziabad",5-10 Yrs
2,Females Required- Data Scientist- Noida,Randstad,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-7 Yrs
3,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",2-7 Yrs
4,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
5,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",3-8 Yrs
6,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",2-7 Yrs
7,Required- Data Scientist (NLP)-Axis Bank - 6 m...,Axis Bank Limited,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",4-9 Yrs
8,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs
9,Data Scientist - Python & Machine Learning (IS...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.

In [59]:
driver = webdriver.Chrome(r"C://Chromedriver.exe")

In [60]:
driver.get("https://www.glassdoor.co.in/index.htm")

In [61]:
search_job=driver.find_element_by_xpath("//input[@id='sc.keyword'][1]")
search_job.send_keys('Data Scientist')
search_loc=driver.find_element_by_xpath("//input[@id='sc.location']")
search_loc.send_keys('Noida')

In [62]:
search_btn=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']/span")
search_btn.click()

In [63]:
url = "https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

In [64]:
driver.get(url)

In [65]:
company_names=[]
job_posted_days=[]
company_rating=[]

In [66]:
company_tag = driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
company_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d65541ae216f62989a34bb806a554439", element="798cc071-f7da-4fa5-8fa9-715e72eb31bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d65541ae216f62989a34bb806a554439", element="98af1f8b-2608-4925-8589-956bc9649add")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d65541ae216f62989a34bb806a554439", element="5b7a3cd0-d3a1-4b3e-bc9e-1374eb30796d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d65541ae216f62989a34bb806a554439", element="ba3248cc-4d8f-4f92-bc89-8dfd1db8ab51")>]

In [67]:
for k in company_tag:
    company=k.text
    company_names.append(company)
    
company_names[0:4]

['Biz2Credit Inc', 'Adobe', 'Salasar New Age Technologies', 'Techlive']

In [68]:
job_days = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
job_days[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d65541ae216f62989a34bb806a554439", element="d36cb5fa-0fd4-4247-b035-fe9c19eefb48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d65541ae216f62989a34bb806a554439", element="a47e57dd-1297-402c-a92d-01bee5eab09f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d65541ae216f62989a34bb806a554439", element="f9d16f77-cede-45cb-999b-5eb0a9a527d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d65541ae216f62989a34bb806a554439", element="18b07a5b-a7a9-406b-9aa1-36a97391b213")>]

In [69]:
for i in job_days:
    days=i.text
    job_posted_days.append(days)
    
job_posted_days[0:4]

['30d+', '10d', '30d+', '30d+']

In [70]:
rating_tag = driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
rating_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d65541ae216f62989a34bb806a554439", element="bb295dbf-c1bf-485a-b57e-70af5b6e9c03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d65541ae216f62989a34bb806a554439", element="1fcf86cf-7393-48fa-b719-623c9ff23aba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d65541ae216f62989a34bb806a554439", element="648eeadf-eac1-436c-b598-f47ee21accd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d65541ae216f62989a34bb806a554439", element="3eeb40ea-9a28-4c6f-97be-21e15c72a920")>]

In [71]:
for i in rating_tag:
    rating=i.text
    company_rating.append(rating)
    
company_rating[0:4]

['3.8', '4.4', '5.0', '5.0']

In [72]:
print(len(company_names),len(job_posted_days),len(company_rating))

30 30 19

In [73]:
Glassdoor=pd.DataFrame({})
Glassdoor["Company Names"] = company_names[:10]
Glassdoor["Job Posted Days"] = job_posted_days[:10]
Glassdoor["Company Rating"] = company_rating[:10]

In [74]:
Glassdoor

                  Company Names Job Posted Days Company Rating
0                Biz2Credit Inc            30d+            3.8
1                         Adobe             10d            4.4
2  Salasar New Age Technologies            30d+            5.0
3                      Techlive            30d+            5.0
4                       Asquero             11d            4.0
5                 Aedifico Tech            30d+            3.6
6               SearchUrCollege            30d+            4.2
7  Salasar New Age Technologies            30d+            3.8
8                       CRMNEXT             16d            5.0
9                    MasterCard              2d            3.0

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page. You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.

In [75]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [76]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [77]:
search_job = driver.find_element_by_xpath("//input[@class='keyword'][1]")
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@class='loc']")
search_loc.send_keys("Noida")

In [78]:
search_btn=driver.find_element_by_id("HeroSearchButton")
search_btn.click()

In [79]:
url='https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn'

In [80]:
company_names=[]
number_of_salaries=[]
Average_salary=[]
Min_salary=[]
Max_Salary=[]

In [81]:
company_tag=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
company_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="0620bcd6-9d4e-48c0-a0dc-ccd67b01d1e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="449ce808-ecaf-464b-852a-f98b00e6d9f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="8e6ea104-5154-44cc-97b6-4684df49d6d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="954594e5-7a5d-403b-9fa7-5b7d86a52bb4")>]

In [82]:
for i in company_tag:
    company=i.text
    company_names.append(company)
    
company_names[0:10]

['Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'IBM',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'ZS Associates',
 'EXL Service']

In [83]:
salary_tag=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
salary_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="6b8410eb-ce53-4c3f-9a48-65a26cc067c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="c3bd47ca-a23e-4d5f-9c50-afc118d6c9b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="e96b9c17-f7a5-44e4-886f-4238a95f963f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="a81a607b-b985-4ff1-96cf-2d9e2029063c")>]

In [84]:
for i in salary_tag:
    salary=i.text
    number_of_salaries.append(salary)
    
number_of_salaries[0:10]

['14 salaries',
 '14 salaries',
 '14 salaries',
 '13 salaries',
 '12 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '7 salaries',
 '7 salaries']

In [85]:
Average_tag=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
Average_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="873d642f-6621-419b-863e-409dbee1a401")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="9b706f18-115e-4596-b092-27990bc6da8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="65b7bf2f-2745-447f-8ed9-fb119b85233c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="82bb7ccb-e4f5-4ee0-9230-34b18bc156e2")>]

In [86]:
for i in Average_tag:
    average=i.text.replace('\n','')
    Average_salary.append(average)
    
Average_salary[0:10]

['₹ 5,97,967/yr',
 '₹ 11,12,243/yr',
 '₹ 12,12,741/yr',
 '₹ 7,37,972/yr',
 '₹ 7,15,984/yr',
 '₹ 13,41,900/yr',
 '₹ 7,90,812/yr',
 '₹ 11,81,047/yr',
 '₹ 9,89,924/yr',
 '₹ 11,73,127/yr']

In [87]:
min_tag=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")
min_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="1a8d6299-7621-4cb7-b993-cd2aaa20362c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="ca266233-177e-4ae0-86cc-3614be13aeaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="d7ed5717-5aec-4dbb-ad5a-64171f6fd566")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="84073446-d8b9-4b6a-bd17-839050485b1a")>]

In [88]:
for i in min_tag:
    mini=i.text.replace('\n','')
    Min_salary.append(mini)
    
Min_salary[0:10]

['₹333K',
 '₹560K',
 '₹436K',
 '₹569K',
 '₹350K',
 '₹1,037K',
 '₹487K',
 '₹602K',
 '₹196K',
 '₹558K']

In [89]:
max_tag=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")
max_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="c5e87491-e8fb-4a5c-a758-21fdf75d9851")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="1a9873ee-2dc9-4901-8df2-facdf8336a16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="406da16c-dcb3-4acf-8bf7-c54ca9fcb3e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8f4e00e05612ffc7668d05abef7775", element="8df8456c-eca1-4c11-a7cb-e06f3a42b89d")>]

In [90]:
for i in max_tag:
    maxi=i.text.replace('\n','')
    Max_Salary.append(maxi)
    
Max_Salary[0:10]

['₹1,080K',
 '₹2,147K',
 '₹11,274K',
 '₹2,648K',
 '₹1,565K',
 '₹1,500K',
 '₹1,421K',
 '₹1,644K',
 '₹1,755K',
 '₹1,500K']

In [91]:
print(len(company_names),len(number_of_salaries),len(Average_salary),len(Min_salary),len(Max_Salary))

20 20 20 20 20

In [92]:
Glassdoor_jobs=pd.DataFrame({})
Glassdoor_jobs['company_names']=company_names[:10]
Glassdoor_jobs['number_of_salaries']=number_of_salaries[:10]
Glassdoor_jobs['Average_salary']=Average_salary[:10]
Glassdoor_jobs['Min_salary']=Min_salary[:10]
Glassdoor_jobs['Max_Salary']=Max_Salary[:10]

In [93]:
Glassdoor_jobs

,company_names,number_of_salaries,Average_salary,Min_salary,Max_Salary
0,Tata Consultancy Services,14 salaries,"₹ 5,97,967/yr",₹333K,"₹1,080K"
1,Accenture,14 salaries,"₹ 11,12,243/yr",₹560K,"₹2,147K"
2,Delhivery,14 salaries,"₹ 12,12,741/yr",₹436K,"₹11,274K"
3,IBM,13 salaries,"₹ 7,37,972/yr",₹569K,"₹2,648K"
4,Ericsson-Worldwide,12 salaries,"₹ 7,15,984/yr",₹350K,"₹1,565K"
5,UnitedHealth Group,10 salaries,"₹ 13,41,900/yr","₹1,037K","₹1,500K"
6,Valiance Solutions,9 salaries,"₹ 7,90,812/yr",₹487K,"₹1,421K"
7,Innovaccer,8 salaries,"₹ 11,81,047/yr",₹602K,"₹1,644K"
8,ZS Associates,7 salaries,"₹ 9,89,924/yr",₹196K,"₹1,755K"
9,EXL Service,7 salaries,"₹ 11,73,127/yr",₹558K,"₹1,500K"

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.

In [94]:
driver=webdriver.Chrome(r"C://Chromedriver.exe")

In [95]:
driver.get("https://www.flipkart.com/")

In [96]:
search_loc=driver.find_element_by_xpath("//input[@type='text']")
search_loc.send_keys('sunglasses')

In [97]:
button=driver.find_element_by_xpath("//button[@type='submit']")
button.click()

In [98]:
url='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [99]:
driver.get(url)

In [100]:
Brand=[]
Product_description=[]
Price=[]
Discount=[]

In [101]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="5c06d935-6262-4601-bc32-3102f8585b28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="88011773-147a-424c-96a1-32bab941dc85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="4f33b342-0170-4b11-b82e-00b4bffbdf6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="028aaff1-5abe-47f9-939b-0840f703d11b")>]

In [102]:
for i in brand_tags:
    title=i.text
    Brand.append(title)
    
Brand[0:4]

['Aislin', 'NuVew', 'Fastrack', 'Fastrack']

In [103]:
Product_Description1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Product_Description1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="3782135d-5614-44f3-8913-557273ec629d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="fcdec89c-257d-4052-bc68-f101d48123eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="86cc562d-a061-4438-8c63-0cb4ad238026")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="69032f2a-25e6-45b5-80d2-3f3594d75883")>]

In [104]:
for i in Product_Description1:
    description=i.text
    Product_description.append(description)
    
Product_description[0:4]

['UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer, Retro Square Sunglass...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)']

In [105]:
price1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="f8f82faa-1868-4b3b-9204-c434e2508971")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="239db767-ba5b-4ff4-9008-b1d2c746659d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="c181bfa4-0572-45b1-be21-2e5ed6ed47f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="c554e58d-32ad-469b-ad17-1f9696d130bc")>]

In [106]:
for i in price1:
    pri=i.text
    Price.append(pri)
    
Price[0:4]

['₹485', '₹317', '₹758', '₹666']

In [107]:
discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
discount_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="0909f7a9-03b6-4ed4-a9e4-868fcba649f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="5c49358a-07ae-4875-ae5f-c07e0239ba54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="b832dabe-b853-4814-b7b1-701b43d1d533")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="aac9b9dc-4014-430f-911c-28387c54e6ba")>]

In [108]:
for i in discount_tag:
    discount=i.text
    Discount.append(discount)
    
Discount[0:4]

['68% off', '74% off', '15% off', '16% off']

In [109]:
print(len(Brand),len(Product_description),len(Price),len(Discount))

40 39 40 40

In [110]:
button=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[1]")
button.click()

In [111]:
url='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2'

In [112]:
driver.get(url)

In [113]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="d5001275-610b-4955-b60a-53e89de6cacf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="3d68345a-2ba0-4c4d-bb55-05f6ff0034d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="9d6c7a0c-d2c8-4f64-8064-53b787a65b23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="014126c7-26c6-41e4-a7fe-98263073462a")>]

In [114]:
for i in brand_tags:
    title=i.text
    Brand.append(title)

In [115]:
Product_Description1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Product_Description1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="e587a012-bac1-4ac7-a7d5-e48017803b06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="5e3e902f-b57c-4676-8278-6ad174b1d97f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="9bbc7eeb-86fa-4dcc-a16d-ae1b9795640d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="3268df4e-aced-4c2b-9856-419046cf989f")>]

In [116]:
for i in Product_Description1:
    description=i.text
    Product_description.append(description)

In [117]:
price1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="c0c61e57-0a7f-4091-95e6-8e95007a380a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="5301e720-51c0-4a4f-a40a-2281b3e2b511")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="76a94c9b-0461-47c8-a4d4-8a727d9d65a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="d0dbed38-2dfc-4bff-b83f-75a5de5a39a9")>]

In [118]:
for i in price1:
    price=i.text
    Price.append(price)

In [119]:
discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
discount_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="d5de5fc7-1214-4f0b-a80b-14dbcd2f680f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="2fa9be0f-93a6-4a3f-8282-a210cb7ea5a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="ce30d531-14a8-410a-8d17-f98045f9e2b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="6ab9cff8-1929-4aff-a5c8-6f78205f5e03")>]

In [120]:
for i in discount_tag:
    discount=i.text
    Discount.append(discount)

In [121]:
print(len(Brand),len(Product_description),len(Price),len(Discount))

80 77 80 80

In [122]:
button=driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span[1]")
button.click()

In [123]:
url='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3'

In [124]:
driver.get(url='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3')

In [125]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="c1803d96-e57a-4a99-ba8e-602791ee6b83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="3e0b4fa6-7e02-413e-bdfd-b6ff93e56c14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="62b45f26-9ff8-4ccc-8f0a-954dc919ab8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="b3487113-a2d3-4d03-852d-73e16f0822b7")>]

In [126]:
for i in brand_tags:
    title=i.text
    Brand.append(title)

In [127]:
Product_Description1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Product_Description1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="8b493050-79d6-405f-b432-50c6928eda50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="bade486f-f06b-47a8-b0ce-f4beb677220c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="3c4f92cc-4882-42a6-a512-e56fa84c84ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="a68ff9a4-fb60-4761-9e82-39684ee19f7a")>]

In [128]:
for i in Product_Description1:
    description=i.text
    Product_description.append(description)

In [129]:
price1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="ad961de8-5648-4751-b5b4-a79b58629507")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="4d9077c5-d3c7-43ca-9cb8-b098582f443c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="6bd612f8-bfa6-421b-aba2-10df73d0bc5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="f9f5c4dd-1c90-4d3c-b6b1-365624625016")>]

In [130]:
for i in price1:
    price=i.text
    Price.append(price)

In [131]:
discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
discount_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="f3b7cf0c-bb31-4f62-bce1-ef53e67695e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="66d25d48-0271-4084-b8b8-4a769a68acf4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="4aa87d01-99c7-4a50-b73e-9eef7945b71e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0523a199a51d3f38e2dbfdb51991cdd", element="8941f56a-ed1e-438d-a478-edf8c03a4d42")>]

In [132]:
for i in discount_tag:
    discount=i.text
    Discount.append(discount)

In [133]:
print(len(Brand),len(Product_description),len(Price),len(Discount))

120 115 120 120

In [134]:
sunglasses=pd.DataFrame({})
sunglasses['Brand']=Brand[:100]
sunglasses['Product_Description']=Product_description[:100]
sunglasses['Price']=Price[:100]
sunglasses['Discount']=Discount[:100]

In [135]:
sunglasses

,Brand,Product_Description,Price,Discount
0,Aislin,"UV Protection, Gradient Cat-eye Sunglasses (58)",₹485,68% off
1,NuVew,"UV Protection, Mirrored Wayfarer, Retro Square...",₹317,74% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹666,16% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85% off
...,...,...,...,...
95,Aislin,UV Protection Rectangular Sunglasses (Free Size),₹495,67% off
96,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (Free Size),₹426,84% off
97,Aislin,UV Protection Retro Square Sunglasses (Free Size),₹475,72% off
98,NuVew,"UV Protection, Gradient Wayfarer Sunglasses (57)",₹355,71% off
99,Aislin,"UV Protection Wayfarer, Rectangular Sunglasses...","₹1,087",73% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [136]:
driver = webdriver.Chrome(r"C://Chromedriver.exe")

In [137]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [138]:
review_tag=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
review_tag.click()

In [139]:
Rating=[]
Review_summary=[]
Full_review=[]

In [140]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'

In [141]:
start_page=0
end_page=1
urls=[]
for page in range(start_page,end_page+1):
    driver.get(url)
    prod_urls=driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']|//a[@class='ge-49M']")
    for prod in prod_urls:
        urls.append(prod.get_attribute('href'))

In [142]:
urls=urls[:10]
urls

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10']

In [143]:
for i in urls:
        driver.get(i)
        rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for element in rating:
            if element is not None:
                Rating.append(element.text)
            else:
                Rating.append('-')
                
Rating[:4]

['5', '5', '5', '5']

In [144]:
for i in urls:
        driver.get(i)
        review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for j in review:
            if j is not None:
                Review_summary.append(j.text)
            else:
                Review_summary.append('-')
                
Review_summary[:4]

['Brilliant', 'Perfect product!', 'Great product', 'Worth every penny']

In [145]:
for i in urls:
        driver.get(i)
        freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for j in freview:
            if j is not None:
                Full_review.append(j.text)
            else:
                Full_review.append('-')
                
Full_review[:4]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE']

In [146]:
print(len(Rating),len(Review_summary),len(Full_review))

99 100 100

In [148]:
Iphone_review=pd.DataFrame({})
Iphone_review['Rating']=Rating[:99]
Iphone_review['Review_summary']=Review_summary[:99]
Iphone_review['Full_review']=Full_review[:99]

In [149]:
Iphone_review

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
94,5,Wonderful,Nice value for money good and best price I pho...
95,5,Terrific,I got this beast today. And I must say the pic...
96,5,Worth every penny,iPhone is delivered on time. Display is great ...
97,5,Must buy!,I will just say its an awesome phone. Starting...
98,5,Worth every penny,"Just go for it without a second thought, if yo..."

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.

In [150]:
driver = webdriver.Chrome(r"C://Chromedriver.exe")

In [151]:
driver.get("https://www.flipkart.com/")

In [152]:
search_loc=driver.find_element_by_xpath("//input[@type='text']")
search_loc.send_keys('sneakers')

In [153]:
button=driver.find_element_by_xpath("//button[@type='submit']")
button.click()

In [154]:
url='https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [155]:
driver.get(url)

In [156]:
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [157]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="ea922ba7-d43c-4a4d-aed3-44b8d890fbf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="e71c66ec-d9f1-4801-a4dd-fdb90f0c56de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="70700b2a-0a09-4e78-8418-e08b77f10173")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="b96c4b2f-0833-434e-b98e-556ab532a358")>]

In [158]:
for i in brand_tags:
    brand=i.text
    Brand.append(brand)
Brand[0:4]

['ENJOY the celebration people', 'bluemaker', 'Chevit', 'Chevit']

In [159]:
product_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="c79e4d06-8ac9-4cb7-867d-2b30a9d4c812")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="d9987a49-f71c-42b7-ac14-411caa216f51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="8b29c15e-8fbb-4eda-845d-2cb128d8bd68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="a9c2b926-fd4e-4339-94ab-b872f08d2f4c")>]

In [160]:
for i in product_tags:
    product=i.text
    Product_Description.append(product)
Product_Description[0:4]

['Sneakers For Men',
 'casual for men Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men']

In [161]:
price1_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price1_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="2233c677-aafd-4cc2-a86d-175be1ecf42d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="a3f7b1c1-6134-45e7-99ef-32a9ff3b7bdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="61adadd8-6c5b-41d7-81c6-2fd6e49dd8f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="5c619f27-81d6-40b2-af3a-8f3f7c0a52fd")>]

In [162]:
for i in price1_tags:
    price=i.text
    Price.append(price)
Price[0:4]

['₹649', '₹499', '₹499', '₹474']

In [163]:
discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
discount_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="33deec3a-6725-48e4-897f-6d8eb7b04cfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="ce9aeb52-7231-493a-9843-ef1fc70cbcef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="b5a4c9f8-1fc1-410b-81e1-50af673491e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="12cfa500-1904-4232-b2e2-3a8311337e5f")>]

In [164]:
for i in discount_tags:
    discount=i.text
    Discount.append(discount)
Discount[0:4]

['35% off', '50% off', '72% off', '76% off']

In [165]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

40 34 40 39

In [166]:
button=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[1]")
button.click()

In [168]:
url1='https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2'

In [169]:
driver.get(url1)

In [170]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="36700634-7eee-408e-ab68-a56e2a3e75d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="fcea54d7-bcf0-4786-a7ba-ce976bf23c2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="014af50f-09f7-4ee1-9fe9-7e6342cfcdb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="2ff0a135-1816-4e9e-95b2-b6141e7ea550")>]

In [171]:
for i in brand_tags:
    title=i.text
    Brand.append(title)

In [172]:
Product_Description1=driver.find_elements_by_xpath("//a[@class='IRpwTa']|//a[@class='IRpwTa _2-ICcC']")
Product_Description1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="46ba8c5b-6d6e-468a-90e3-9681a39bae69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="f9eb4c46-fd5d-4c44-94f7-0f5708192cf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="3749b6e2-b2b6-42b3-8661-b6b08d239ac8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="3eea3115-fe70-4919-aa30-5d18494a5a2b")>]

In [173]:
for i in Product_Description1:
    description=i.text
    Product_Description.append(description)

In [174]:
price1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="558a91d7-6cc2-42cd-a0b6-c0cdcec8fea7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="9d9ec9b4-7e8d-4fdf-8926-93523fe81cad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="e64faa04-9956-4feb-9fab-4e02fc7a33a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="11211df2-9312-414f-9aa4-220658dd65f6")>]

In [175]:
for i in price1:
    price=i.text
    Price.append(price)

In [176]:
discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
discount_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="1f53a027-3df0-4069-9a8a-9de51236f851")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="0de50e20-92ca-4659-9259-b6127212d64d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="a9b51870-d5e1-4d43-9f2e-56c072d3574a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="0f709e22-7f7e-46c7-9324-df74ff6f409b")>]

In [177]:
for i in discount_tag:
    discount=i.text
    Discount.append(discount)

In [178]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

80 74 80 79

In [179]:
button=driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span[1]")
button.click()

In [180]:
url2='https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3'

In [181]:
driver.get(url2)

In [182]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="dff0dae7-50ad-4837-a49a-07d01bb3942f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="e8b4b170-56b0-47f8-8dc5-d3d022602635")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="d9728a89-0736-4e81-9f4c-f029545b0d74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="46a8b0b3-2851-41a8-a433-277e69c62962")>]

In [183]:
for i in brand_tags:
    title=i.text
    Brand.append(title)

In [184]:
Product_Description1=driver.find_elements_by_xpath("//a[@class='IRpwTa']|//a[@class='IRpwTa _2-ICcC']")
Product_Description1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="89994e17-04fb-4bb9-92f6-3a8275b345f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="f6cbb857-c65c-4d83-ab7d-df6163c5337b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="f2ababa8-2625-46a3-8941-8dd983ffee9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="cfaf4d82-38b5-45a1-afed-7ab2850b9536")>]

In [185]:
for i in Product_Description1:
    description=i.text
    Product_Description.append(description)

In [186]:
price1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="6897ff02-b5d0-441e-a139-a588f5e481d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="abdd0835-b0d9-4e48-97b0-d4429d2fd8c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="84ecd84e-ef59-4836-81e6-6662af81d99d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="0dfac44a-744e-4741-985c-28e28789b8c0")>]

In [187]:
for i in price1:
    price=i.text
    Price.append(price)

In [188]:
discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
discount_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="881d4272-73eb-453a-8db3-7cd4d338073a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="ae0bf364-0151-439f-bd15-04203a2974e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="df1e9aca-e2ba-4274-880e-098013a4e2aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73073f9ce6647cb972f4145181cda29a", element="b2fee8af-2078-4a09-ad98-20b9965bc11a")>]

In [189]:
for i in discount_tag:
    discount=i.text
    Discount.append(discount)

In [190]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

120 114 120 118

In [191]:
sneakers=pd.DataFrame({})
sneakers['Brand']=Brand[:100]
sneakers['Product_Description']=Product_Description[:100]
sneakers['Price']=Price[:100]
sneakers['Discount']=Discount[:100]

In [192]:
sneakers

,Brand,Product_Description,Price,Discount
0,ENJOY the celebration people,Sneakers For Men,₹649,35% off
1,bluemaker,casual for men Sneakers For Men,₹499,50% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
4,Chevit,Super & Trendy Men's Pack of 02 Pair Shoes for...,₹420,78% off
...,...,...,...,...
95,Tryviz,Casual Sneakers Black Shoes For Men Sneakers F...,₹266,72% off
96,Chevit,Puma Rebound LayUp SL Sneakers For Men,₹446,60% off
97,ROCKFIELD,Multicolor Casual Shoes Mesh for Men Sneakers ...,₹396,42% off
98,Edoeviv,casual for men (beige 06) Sneakers For Men,₹399,60% off
99,ROCKFIELD,Premium quality Sneakers For Men,₹396,66% off

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [193]:
driver=webdriver.Chrome(r"C://chromedriver.exe")

In [194]:
driver.get("https://www.myntra.com/shoes")

In [196]:
element = driver.find_element_by_css_selector('input[value*="6649.0 TO 13099.0"]') 
webdriver.ActionChains(driver).move_to_element(element ).click(element ).perform()

In [197]:
element = driver.find_element_by_css_selector('input[value*="Black"]')
webdriver.ActionChains(driver).move_to_element(element ).click(element ).perform()

In [198]:
url='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0'

In [199]:
driver.get(url)

In [200]:
Brand=[]
Product_Description=[]
Price=[]

In [201]:
brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="8ed80765-7c6b-4ade-9304-7b71e581b90a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="4b63c833-1752-4ac6-a24c-178173da435a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="4cd0394f-3042-4ae2-bb1e-8739cea9672e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="4b7d677f-1b0f-4678-b6a0-c22da0cefa0e")>]

In [202]:
for i in brand_tags:
    tags=i.text
    Brand.append(tags)
Brand[0:4]

['PUMA Motorsport', 'UNDER ARMOUR', 'Nike', 'Nike']

In [203]:
product_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
product_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="23792458-73e1-45d9-877b-98789c85c61c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="fec98000-9ae4-42f5-a54f-4da613dff7a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="8216efd2-c602-4661-8920-e6373ecafe59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="3587fa1d-333a-4808-8496-e75356474b76")>]

In [204]:
for i in product_tags:
    product=i.text
    Product_Description.append(product)
Product_Description[0:4]

['Unisex Mercedes Running Shoes',
 'Men HOVR STRT Sportstyle Shoes',
 'Men JOYRIDE Running Shoes',
 'Women Running Shoes']

In [205]:
price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="8e26b708-ecf9-4f2b-99d7-0ff2a9da806f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="b984e881-55d6-46af-9dd2-d489514ea93a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="a721f470-2da2-4a80-becc-b04ef55eae78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="b4221f10-a770-47ca-83cf-99cce204eb19")>]

In [206]:
for i in price_tags:
    tag=i.text
    Price.append(tag)
Price[0:4]

['Rs. 7999',
 'Rs. 9999',
 'Rs. 10496Rs. 14995(30% OFF)',
 'Rs. 7796Rs. 11995(35% OFF)']

In [207]:
print(len(Brand),len(Product_Description),len(Price))

50 50 50

In [208]:
button=driver.find_element_by_xpath("//li[@class='pagination-number']")
button.click()

In [209]:
brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="8ddc000b-9a5c-460a-b245-b08493059c1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="67cffec0-35ed-4fca-8c62-28e5532a7ad7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="965b64c9-ecad-44e2-9886-90ee5cfba31f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="4544caa4-2c28-4bf4-a5be-5cf3d0b5c630")>]

In [210]:
for i in brand_tags:
    tags=i.text
    Brand.append(tags)

In [211]:
product_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
product_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="fceb5522-b4a4-44d8-9c5e-faa51d12e391")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="10d4cac9-7171-4776-83a4-b079d46886cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="ce40ae00-e886-4672-b628-d898e19c36e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="8f699152-4031-4d8a-aca5-45d908f290cb")>]

In [212]:
for i in product_tags:
    product=i.text
    Product_Description.append(product)

In [213]:
price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="78aa123e-c912-4fd5-8177-b2b0ab46e171")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="1e306e29-e5de-4cf7-9102-3a5ea59ac007")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="d3d8202b-e9a7-4585-9832-d5804e39bd6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9234b65b1f10f485bb9bc8fae610594f", element="c0b2df05-58f8-452e-9baf-080799f54e62")>]

In [214]:
for i in price_tags:
    tag=i.text
    Price.append(tag)

In [215]:
print(len(Brand),len(Product_Description),len(Price))

100 100 100

In [216]:
Myntra_Shoes=pd.DataFrame({})
Myntra_Shoes['Brand']=Brand[:99]
Myntra_Shoes['Product_Description']=Product_Description[:99]
Myntra_Shoes['Price']=Price[:99]

In [217]:
Myntra_Shoes

,Brand,Product_Description,Price
0,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999
1,UNDER ARMOUR,Men HOVR STRT Sportstyle Shoes,Rs. 9999
2,Nike,Men JOYRIDE Running Shoes,Rs. 10496Rs. 14995(30% OFF)
3,Nike,Women Running Shoes,Rs. 7796Rs. 11995(35% OFF)
4,Nike,Men AIR ZOOM Running Shoes,Rs. 10796Rs. 13495(20% OFF)
...,...,...,...
94,Geox,Women Solid Leather Flats,Rs. 9990
95,Cole Haan,Women Woven Design Sneakers,Rs. 7499Rs. 14999(50% OFF)
96,Ruosh,Men Formal Leather Brogues,Rs. 7490
97,Geox,Men Leather Formal Oxfords,Rs. 10490
98,Geox,Men Leather Formal Oxfords,Rs. 12490

Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [218]:
driver=webdriver.Chrome(r"C://Chromedriver.exe")

In [219]:
driver.get("https://www.amazon.in/")

In [220]:
search_laptop=driver.find_element_by_id('twotabsearchtextbox')
search_laptop.send_keys('Laptop')

In [221]:
search=driver.find_element_by_id('nav-search-submit-button')
search.click()

In [223]:
xpathtitle='//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div'

In [224]:
title=driver.find_element_by_xpath(xpathtitle)
titletext=title.get_attribute('innerHTML').splitlines()[0]
title.click()

In [229]:
xpathtitle1='//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div'

In [230]:
title1=driver.find_element_by_xpath(xpathtitle1)
titletext1=title1.get_attribute('innerHTML').splitlines()[0]
title1.click()

In [231]:
Title=[]
Rating=[]
Price=[]

In [234]:
title_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9e95b54db4262beca02cc629e43c0c46", element="f9cf4d4a-c18d-41b2-89a9-3e5a6b990870")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e95b54db4262beca02cc629e43c0c46", element="16c4716a-db98-4417-9fe1-dec894798d69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e95b54db4262beca02cc629e43c0c46", element="736546bc-ded1-42e7-af08-39d20ca8647b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e95b54db4262beca02cc629e43c0c46", element="04cc90fa-51f9-479f-9476-424bdd28ac8a")>]

In [236]:
for i in title_tags:
    tags=i.text
    Title.append(tags)
Title[0:4]

['ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'Dell XPS 9570 15.6-inch UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'ASUS ZenBook Pro Duo UX581 Intel Core i9 9th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB GDDR6 Graphics Card/ScreenPad Plus/Celestial Blue/2.50 Kg), UX581GV-H9201T']

In [240]:
rating_tag=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
rating_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9e95b54db4262beca02cc629e43c0c46", element="37849651-adbe-4b1d-bcf1-2dde0f6eb45f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e95b54db4262beca02cc629e43c0c46", element="c13b50e4-0fec-490f-aac7-dd4d759db6f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e95b54db4262beca02cc629e43c0c46", element="f0a99355-a7ee-454c-84b8-c7b9be28d778")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e95b54db4262beca02cc629e43c0c46", element="77e765d8-d414-41ed-a1aa-f608a61ac2d0")>]

In [241]:
for i in rating_tag:
    tag=i.text
    Rating.append(tag)
Rating[0:4]

['3', '27', '23', '34']

In [242]:
price_tag=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9e95b54db4262beca02cc629e43c0c46", element="a503d2fd-0ae9-4170-840f-8de9a26322d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e95b54db4262beca02cc629e43c0c46", element="25433bdd-6ec6-4302-a1d0-2f2fa7629ed2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e95b54db4262beca02cc629e43c0c46", element="e1ff1ec7-cc72-4562-b595-7ce0e6d41373")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e95b54db4262beca02cc629e43c0c46", element="0ac0e208-6ca9-4f29-84c8-a00da3c36bf8")>]

In [243]:
 for i in price_tag:
        tag=i.text
        Price.append(tag)
Price[0:4]

['2,77,390', '5,22,077', '2,27,200', '2,69,990']

In [244]:
print(len(Title),len(Rating),len(Price))

22 36 14

In [245]:
Laptop=pd.DataFrame({})
Laptop["Title"]=Title[:10]
Laptop["Rating"]=Rating[:10]
Laptop["Price"]=Price[:10]

In [246]:
Laptop

                                               Title Rating     Price
0  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...      3  2,77,390
1  ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...     27  5,22,077
2  Dell XPS 9570 15.6-inch UHD Laptop (8th Gen i9...     23  2,27,200
3  ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...     34  2,69,990
4  ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...      7  2,78,639
5  ASUS ROG Strix Scar 15 (2020), 15.6" FHD 300Hz...      6  1,99,738
6  Dell Alienware m15(R3) 15.6-inch UHD Gaming La...     15  3,42,990
7  Dell Alienware 17 Area 51 9thGeneration Corei9...      7  2,06,990
8  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...      1  2,62,990
9  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...      2  2,07,992