# ASSIGNMENT NO 4

In [1]:
#inporting libraries
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
import pandas as pd
import numpy as np
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException
import warnings
warnings.filterwarnings('ignore')

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [2]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
#scraping rank of the video
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    rank.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    rank.append('No details available')
print(len(rank))

30

In [5]:
#scraping name of the videos
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No Details Available')
except StaleElementReferenceException:#handling Stale element exception
    name.append('No Details Availale')
print(len(name))

30

In [6]:
#scraping artist/uploader of the video
artist=[]
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        artist.append(i.text)
except NoSuchElementException:#handling no such element exception
    artist.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    artist.append('No details available')
print(len(artist))

30

In [7]:
#scraping views in billions of the video
views=[]
try:
    view_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in view_list:
        views.append(i.text)
except NoSuchElementException:#handling no such element exception
    view.append('No Details Available')
except StaleElementReferenceException:#handling Stale element exception
    views.append('No Details Available')
print(len(views))

30

In [8]:
#scraping upload date of the video
upload_date=[]
try:
    date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in date_list:
        upload_date.append(i.text)
except NoSuchElementException:#handling no such element exception
    upload_date.append('No Details Available')
except StaleElementReferenceException:#handling Stale element exception
    upload_date.append('No Details Available')
print(len(upload_date))

30

In [9]:
youtube=pd.DataFrame({})
youtube['Rank']=rank
youtube['Name Of Videos']=name
youtube['Artist']=artist
youtube['Views in Billions']=views
youtube['Upload Date']=upload_date
youtube

,Rank,Name Of Videos,Artist,Views in Billions,Upload Date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.50,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.33,"January 12, 2017"
2,3.,"""Shape of You""[25]",Ed Sheeran,5.30,"January 30, 2017"
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.27,"October 8, 2016"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.09,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.43,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.17,"November 19, 2014"
7,8.,"""Gangnam Style""[32]",Psy,4.06,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,4.01,"February 27, 2018"
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,3.99,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.81,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.45,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.43,"October 22, 2015"
13,14.,"""Roar""[39]",Katy Perry,3.34,"September 5, 2013"
14,15.,"""Dame Tu Cosita""[40]",El Chombo,3.30,"April 5, 2018"
15,16.,"""Counting Stars""[41]",OneRepublic,3.28,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.25,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.06,"February 20, 2014"
18,19.,"""Faded""[44]",Alan Walker,3.05,"December 3, 2015"
19,20.,"""Shake It Off""[45]",Taylor Swift,3.05,"August 18, 2014"
20,21.,"""Lean On""[46]",Major Lazer Official,3.03,"March 22, 2015"
21,22.,"""Bailando""[47]",Enrique Iglesias,3.02,"April 11, 2014"
22,23.,"""Girls Like You""[48]",Maroon 5,3.02,"May 31, 2018"
23,24.,"""Let Her Go""[49]",Passenger,2.98,"July 25, 2012"
24,25.,"""Wheels on the Bus""[50]",Cocomelon – Nursery Rhymes,2.94,"May 24, 2018"
25,26.,"""Mi Gente""[51]",J Balvin,2.91,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.83,"November 9, 2017"
27,28.,"""Hello""[53]",Adele,2.83,"October 22, 2015"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.81,"June 4, 2010"
29,30.,"""Axel F""[55]",Crazy Frog,2.78,"June 16, 2009"

# 2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [10]:
driver=webdriver.Chrome(r"C://chromedriver.exe")

In [11]:
url="https://www.bcci.tv/"

In [12]:
driver.get(url)

In [13]:
fixtures=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [14]:
urls=[]
match_page=driver.find_elements_by_xpath("//div[@class='js-list']/a")
for i in match_page:
    urls.append(i.get_attribute('href'))

In [15]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [16]:
#scraping Match title
match_tag=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/strong')
match_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="87cab72f-db0d-45e7-bc2a-90013c70e103")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="8172d3e0-8be5-4dca-8fd4-5257814b6447")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="8b9a8131-6cb7-4c39-859f-953f7a7160c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="ae94c06d-0f77-4330-89e7-972ee4c748ea")>]

In [17]:
try:
    for i in match_tag:
        match=i.text
        Match_title.append(match)
except NoSuchElementExpection:#handling no such element exception
    Match_title.append('No Details Available')
except StaleElementReferenceException:#handling Stale element exception
    Match_title.append('No Details Available')
print(len(Match_title))

6

In [18]:
#scraping series
series_tag=driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')
series_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="3d03d710-e480-4014-b96f-a633b3005265")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="5ab7c505-3b2e-4d0a-a636-ceda05b42462")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="4b015fa5-a8ec-48af-8a7b-d1b2ecd3293d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="748e1994-884e-48ad-8a11-51cacc9d6248")>]

In [19]:
try:
    for i in series_tag:
        Series.append(i.text)
except NoSuchElelemtExpection:#handling no such element exception
    Series.append('No Details Avaliable')
except StaleElementReferenceExpection:#handling Stale element exception
    Series.append('No Details Available')
print(len(Series))

6

In [20]:
#scraping place 
place_tag=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
place_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="a06b3883-91ee-4679-9007-115a5548eee6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="83ad0df1-bc90-4267-a6fd-508942b8a735")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="bdc6c302-8700-476c-a9d7-b3dff595452d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="d9440ab8-8d2b-4f11-9a84-e8f00c5dbfe5")>]

In [21]:
try:
    for i in place_tag:
        Place.append(i.text)
except NoSuchElementExpection:#handling no such element exception
    Place.append('No Details Available')
except StaleElementReferenceExpection:#handling Stale element exception
    Place.append('No Details Available')
print(len(Place))

6

In [22]:
#scraping date 
date_tag=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span")
date_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="e1812361-fbe5-4e0a-bf5c-cea04efb9d7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="8aa1430a-7985-4218-8f95-c1edbbe684de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="7e3e5bc3-f253-4804-97b0-86dfd4fc5c01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="cd06d1de-ae74-4f50-87df-73fdd0bee89f")>]

In [23]:
try:
    for i in date_tag:
        Date.append(i.text)
except NoSuchElementExpection:#handling no such element exception
    Date.append('No Details Available')
except StaleElementReferenceExpection:#handling Stale element exception
    Date.append('No Details Available')
print(len(Date))

6

In [24]:
#scraping time of match
time_tag=driver.find_elements_by_xpath('//div[@class="fixture__date-details"]/span[2]')
time_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="57c6b86d-841b-4424-9d94-bf2fdfaff609")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="b62b840f-5fea-4a31-b866-10a7ba25e4f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="235ceaa8-b5de-40e2-b775-c9b1a710aa1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aefb1c891fc2fd8fb11b71dca16b5bbc", element="a4ffcfc2-365f-4c1a-8538-2c915e2105c7")>]

In [25]:
try:
    for i in time_tag:
        Time.append(i.text)
except NoSuchElementExpection:#handling no such element exception
    Time.append('No Details Available')
except StaleElementReferenceExpection:#handling Stale element exception
    Time.append('No Details Available')
print(len(Time))

6

In [26]:
icc=pd.DataFrame({})
icc['Match Title']=Match_title
icc['Series Played']=Series
icc['Place of Match']=Place
icc['Date of Match']=Date
icc['Timeing of Match']=Time
icc

,Match Title,Series Played,Place of Match,Date of Match,Timeing of Match
0,Final,ICC WORLD TEST CHAMPIONSHIP FINAL,"The Ageas Bowl, Southampton",18,15:30 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,15:30 IST

# 3. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [27]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [28]:
url='https://www.guru99.com/'

In [29]:
driver.get(url)

In [30]:
selenium_link=driver.find_element_by_xpath("//li[@class='g-menu-item g-menu-item-type-component g-menu-item-121  ']/a")
try:
    selenium_link.click()
except ElementNotInteractableException:
    driver.get(selenium_link.get_attribute('href'))

In [31]:
exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:
    driver.get(exception_handle_link.get_attribute('href'))

In [32]:
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
print(len(name))

41

In [33]:
desc=[]
try:
    desc_list=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in desc_list[1:]:
        desc.append(i.text)
except NoSuchElementException:#handling no such element exception
    desc.append('No details available')
print(len(desc))

41

In [34]:
guru=pd.DataFrame({})
guru['Exception Name']=name
guru['Description']=desc
guru

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [35]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [36]:
driver.get("http://statisticstimes.com/")

In [37]:
economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")

In [38]:
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [39]:
GDP=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
try:
    GDP.click()
except ElementNotInteractableException:
    driver.get(GDP.get_attribute('href'))

In [40]:
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    rank.append('No details available')
print(len(rank))

33

In [41]:
State=[]
try:
    states=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        State.append(i.text)
except NoSuchElementException:#handling no such element exception
    State.append('No details available')
print(len(State))

33

In [42]:
GSDP_19=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in info:
        GSDP_19.append(i.text)
except NoSuchElementException:#handling no such element exception
    GSDP_19.append('No details available')
print(len(GSDP_19))

33

In [43]:
GSDP_18=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in info:
        GSDP_18.append(i.text)
except NoSuchElementException:#handling no such element exception
    GSDP_18.append('No details available')
print(len(GSDP_18))

33

In [44]:
share=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in info:
        share.append(i.text)
except NoSuchElementException:#handling no such element exception
    share.append('No details available')
print(len(share))

33

In [45]:
GDP_billion=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:#handling no such element exception
    GDP_billion.append('No details available')
print(len(GDP_billion))

33

In [46]:
State_wise_GDP_of_India=pd.DataFrame({})
State_wise_GDP_of_India['Rank']=rank
State_wise_GDP_of_India['State']=State
State_wise_GDP_of_India['GSDP_19_20']=GSDP_19
State_wise_GDP_of_India['GSDP_18_19']=GSDP_18
State_wise_GDP_of_India['Share_2018']=share
State_wise_GDP_of_India['GDP_billion_dollar']=GDP_billion

In [47]:
State_wise_GDP_of_India

,Rank,State,GSDP_19_20,GSDP_18_19,Share_2018,GDP_billion_dollar
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [119]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [120]:
driver.get("https://github.com/")

In [121]:
explore=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
driver.get(explore.get_attribute('href'))

In [122]:
repo_title=[]
try:
    repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_title.append('No details available')
print(len(repo_title))

25

In [123]:
repo_desc=[]
try:
    desc=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
    for i in desc:
        repo_desc.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_desc.append('No details available')
print(len(repo_desc))

23

In [124]:
repo_urls=[]
repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))

In [125]:
Contributors_count=[]
Language_used=[]
for i in repo_urls:
    driver.get(i)
    l=[]
    try:
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:#handling no such element exception
        Contributors_count.append('No details available')
        
    languages=driver.find_elements_by_xpath("//span[@class='text-gray-dark text-bold mr-1']")
    if languages:    
        for i in languages:
            l.append(i.text)
    else:
        l.append('No languages used')
    Language_used.append(l)

In [126]:
trending_repositories=pd.DataFrame({})
trending_repositories['Repository_title']=repo_title[0:22]
trending_repositories['Repository_description']=repo_desc[0:22]
trending_repositories['Contributors_count']=Contributors_count[0:22]
trending_repositories['Language_used']=Language_used[0:22]

In [127]:
trending_repositories

,Repository_title,Repository_description,Contributors_count,Language_used
0,pallupz / covid-vaccine-booking,This very basic script can be used to automate...,8,[No languages used]
1,slidevjs / slidev,Presentation Slides for Developers (Public Bet...,11,[No languages used]
2,Uniswap / uniswap-v3-core,🦄 🦄 🦄 Core smart contracts of Uniswap v3,8,[No languages used]
3,pixie-labs / pixie,Instant Kubernetes-Native Application Observab...,14,[No languages used]
4,flutter / flutter,Flutter makes it easy and fast to build beauti...,851,[No languages used]
5,axios / axios,Promise based HTTP client for the browser and ...,270,[No languages used]
6,andymatuschak / orbit,very currency,3,[No languages used]
7,dogecoin / dogecoin,Responsive Admin Panel or Dashboard using Flutter,201,[No languages used]
8,abuanwar072 / Flutter-Responsive-Admin-Panel-o...,"Master the command line, in one page",No details available,[No languages used]
9,jlevy / the-art-of-command-line,A collective list of free APIs,162,[No languages used]
10,public-apis / public-apis,A complete computer science study plan to beco...,766,[No languages used]
11,jwasham / coding-interview-university,kcp is a prototype of a Kubernetes API server ...,196,[No languages used]
12,kcp-dev / kcp,👩‍💻👨‍💻 Awesome cheatsheets for popular program...,8,[No languages used]
13,LeCoupa / awesome-cheatsheets,"A collection of inspiring lists, manuals, chea...",95,[No languages used]
14,trimstray / the-book-of-secret-knowledge,Build your own 'AirTags' 🏷 today! Framework fo...,80,[No languages used]
15,seemoo-lab / openhaystack,"A curated list of awesome Python frameworks, l...",6,[No languages used]
16,vinta / awesome-python,a CLI that provides a generic automation layer...,391,[No languages used]
17,Azure / counterfit,经典编程书籍大全，涵盖：计算机系统与网络、系统架构、算法与数据结构、前端开发、后端开发、移动...,No details available,[No languages used]
18,imarvinle / awesome-cs-books,Audio Editor,No details available,[No languages used]
19,audacity / audacity,🦄 🦄 🦄 Peripheral smart contracts for interacti...,126,[No languages used]
20,Uniswap / uniswap-v3-periphery,编程电子书，电子书，编程书籍，包括C，C#，Docker，Elasticsearch，Git...,8,[No languages used]
21,itdevbooks / pdf,tokio-console prototypes,No details available,[No languages used]

# 6. Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [65]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [66]:
driver.get("https://www.billboard.com/")

In [67]:
charts=driver.find_element_by_xpath("//a[@class='header__main-link header__main-link--charts']")
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))

In [68]:
top_100=driver.find_element_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']")
try:
    top_100.click()
except ElementNotInteractableException:
    driver.get(top_100.get_attribute('href'))

In [69]:
song_name=[]
try:
    names=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    song_name.append('No details avaliable')
print(len(song_name))

100

In [70]:
artist_name=[]
try:
    artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for i in artist:
        artist_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    artist_name.append('No detail avaliable')
print(len(artist_name))

100

In [71]:
last_week_rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in ranks:
        last_week_rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    last_week_rank.append('No details available')
print(len(last_week_rank))

100

In [72]:
peak_rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in ranks:
        peak_rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    peak_rank.append('No detail avaliable')
print(len(peak_rank))

100

In [73]:
weeks=[]
try:
    week=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in week:
        weeks.append(i.text)
except NoSuchElementException:#handling no such element exception
    weeks.append('No detail avaliable')
print(len(weeks))

100

In [74]:
Billboard=pd.DataFrame({})
Billboard['Song Name']=song_name
Billboard['Artist Name']=artist_name
Billboard['Last Week Rank']=last_week_rank
Billboard['Peak Rank']=peak_rank
Billboard['Week On Board']=weeks

In [75]:
Billboard

,Song Name,Artist Name,Last Week Rank,Peak Rank,Week On Board
0,Save Your Tears,The Weeknd & Ariana Grande,6,1,20
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),2,1,8
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,3,1,6
3,Rapstar,Polo G,1,1,3
4,Levitating,Dua Lipa Featuring DaBaby,5,5,30
...,...,...,...,...,...
95,4 Da Gang,42 Dugg & Roddy Ricch,100,67,4
96,Blame It On You,Jason Aldean,-,97,1
97,Wasted On You,Morgan Wallen,92,9,16
98,Way Less Sad,AJR,-,99,1
99,Clear Da Air,Moneybagg Yo,-,100,1

# 7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [76]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [77]:
driver.get("https://www.naukri.com/")

In [78]:
#clicking on recruiters link
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))

In [79]:
#accesing search bar
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")

In [80]:
#search button
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()

In [81]:
#scrapping names
name=[]
try:
    names=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
print(len(name))

50

In [82]:
#scrapping destination
designation=[]
try:
    designation_list=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
    for i in designation_list:
        designation.append(i.text)
except NoSuchElementException:#handling no such element exception
    designation.append('No details available')
print(len(designation))

50

In [83]:
#scraping company name
company=[]
try:
    company_list=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in company_list:
        company.append(i.text)
except NoSuchElementException:#handling no such element exception
    company.append('No detail avaliable')
print(len(company))

50

In [84]:
#skills they hire for
skill=[]
try:
    skills=driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")
    for i in skills:
        skill.append(i.text)
except NoSuchElementException:#handling no such element exception
    skill.append('No details available')
print(len(skill))

50

In [85]:
#scraping location
location=[]
soup=BeautifulSoup(driver.page_source,'html.parser')
l=soup.find_all('div',attrs={'vcard'})
for i in l:
    try:
        location.append(i.find('small').text)
    except AttributeError :
        location.append("No details available")
print(len(location))

50

In [86]:
Data_science_recruiters=pd.DataFrame({})
Data_science_recruiters["Name"]=name
Data_science_recruiters["Designation"]=designation
Data_science_recruiters["Company Name"]=company
Data_science_recruiters["Location"]=location
Data_science_recruiters["Skills I Hire"]=skill

In [87]:
Data_science_recruiters

,Name,Designation,Company Name,Location,Skills I Hire
0,,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,,Recruitment Professional,XenonStack,Chandigarh,"Web Designing, html5, Angular.js, seo, hadoop,..."
3,,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
5,,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
6,,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
7,,Programme Manager,IFMR,Chennai,Data Science
8,,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
9,,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
10,,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
11,,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
12,,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
13,,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
14,,Senior Executive Talent Acquisition,Bristlecone India Ltd,Nagpur,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
15,,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
16,,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
17,,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
18,,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
19,,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
20,,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
21,,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
22,,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
23,,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
24,,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
25,,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
27,,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
28,,CEO,Nanoprecise Sci Corp,No details available,"Signal Processing, Machine Learning, Neural Ne..."
29,,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
30,,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
31,,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
32,,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analy..."
33,,Head,Trisect,Noida,"Java, Python, Angularjs, Software Testing, Mac..."
34,,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
35,,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
36,,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
37,,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
38,,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
39,,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
40,,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
41,,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
42,,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
43,,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
44,,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
45,,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
46,,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
47,,Managing Partner,Granular.ai,No details available,"Machine Learning, Data Science, Product Manage..."
48,,HR Manager,Certybox Pvt.Ltd.,Noida,"consulting, Education Counseling, Educational ..."
49,,Managing Director - HR,Western Service Providers,Mumbai,"Software Professionals, Engineering, Technical..."

# 8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [88]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [89]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [90]:
#scraping book name
book_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    book_name.append('No details available')
print(len(book_name))

100

In [91]:
#scraping author name
author_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in names:
        author_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    author_name.append('No details available')

print(len(author_name))

100

In [92]:
#scraping publisher name
publisher=[]
try:
    publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException:#handling no such element exception
    publisher.append('No details available')

print(len(publisher))

100

In [93]:
#scraping genre
genre=[]
try:
    genres=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')

print(len(genre))

100

In [94]:
#scrapping volume sold
volume_sold=[]
try:
    volume=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in volume:
        volume_sold.append(i.text)
except NoSuchElementException:#handling no such element exception
    volume_sold.append('No details available')

print(len(volume_sold))

100

In [95]:
Books=pd.DataFrame({})
Books['Book Name']=book_name
Books['Author Name']=author_name
Books['Volume sold out']=volume_sold
Books['Publisher']=publisher
Books['Genre']=genre

In [96]:
Books

,Book Name,Author Name,Volume sold out,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [97]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [98]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [99]:
#scraping name 
name=[]
try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        name.append(i.text)
except NosuchElementException:#handling no such element exception
    name.append('No details available')
print(len(name))

100

In [100]:
#scraping years
years=[]
try:
    span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in span:
        years.append(i.text)
except NosuchElementException:#handling no such element exception
    years.append('No details available')
print(len(years))

100

In [101]:
#scraping genre
genre=[]
try:
    genres=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException: #handling no such element exception
    genre.append('No Detail Avaliable')
print(len(genre))

100

In [102]:
#scraping runtime
run_time=[]
try:
    time=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in time:
        run_time.append(i.text)
except NoSuchElementException: #handling No such element exception
    run_time.append('No Detail Avaliable')
print(len(run_time))

100

In [103]:
#scraping rating
rating=[]
try:
    rate=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in rate:
        rating.append(i.text)
except NoSuchELementException: #handling no such element exception 
    rating.append('No Detail Avaliable')
print(len(rating))

100

In [104]:
votes=[]
try:
    info=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in info:
        votes.append(i.text)
except NoSuchElementException:#handling no such element exception
    votes.append('No details available')
print(len(votes))

100

In [105]:
IMDB=pd.DataFrame({})
IMDB['Name']=name
IMDB['Year Span']=years
IMDB['Genre']=genre
IMDB['Run Time']=run_time
IMDB['Rating']=rating
IMDB['Votes']=votes

In [106]:
IMDB

,Name,Year Span,Genre,Run Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,804,115"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"848,937"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"868,446"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"260,420"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"221,441"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,253"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,706"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"165,673"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.2,"34,610"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"188,447"

# 10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [107]:
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [108]:
driver.get("https://archive.ics.uci.edu/ml/index.php")

In [109]:
#clicking show all datasets link
show=driver.find_element_by_xpath("//a[@href='datasets.php']")
show.click()

In [110]:
#scraping dataset names
name=[]
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
print(len(name))

588

In [111]:
#scraping dataset type
data_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info[1:]:
         data_type.append(i.text)
except NoSuchElementException:
    data_type.append("No information")
print(len(data_type))

588

In [112]:
#scraping dataset default task
default_task=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in info[1:]:
         default_task.append(i.text)
except NoSuchElementException:
    default_task.append("No information")
print(len(default_task))

588

In [113]:
#scraping dataset attribute type
attr_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in info[1:]:
         attr_type.append(i.text)
except NoSuchElementException:
    attr_type.append("No information")
print(len(attr_type))

588

In [114]:
#scraping dataset instances
no_of_instances=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in info[1:]:
         no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("No information")
print(len(no_of_instances))

588

In [115]:
#scraping dataset attribute
no_of_attributes=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in info[1:]:
         no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append("No information")
print(len(no_of_attributes))

588

In [116]:
#scraping dataset years
year=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in info[1:]:
         year.append(i.text)
except NoSuchElementException:
    year.append("No information")
print(len(year))

588

In [117]:
UCI_Dataset=pd.DataFrame({})
UCI_Dataset['Name']=name
UCI_Dataset['Data Type']=data_type
UCI_Dataset['Default Task']=default_task
UCI_Dataset['Attribute Type']=attr_type
UCI_Dataset['Instance']=no_of_instances
UCI_Dataset['Attribute']=no_of_attributes
UCI_Dataset['Year']=year

In [118]:
UCI_Dataset

,Name,Data Type,Default Task,Attribute Type,Instance,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021